node_modules
.next
.git
.gitignore
.env
.env.*
!.env.example
generate-images/*
!generate-images/.gitkeep
*.md
!ARQUITECTURE.md
Dockerfile
docker-compose.yml
.dockerignore
.vscode
.idea
*.log
coverage
.DS_Store
